<div class="container" fxLayout="column" fxLayoutAlign="start center">
<mat-card *ngIf="isSearching === false" class="mat-elevation-z8 first">
    <mat-card-title>
        <div style="color: #004a93; margin-bottom: 1em;">
            Insert your policy informations
        </div>
    </mat-card-title>

    <form class="firstForm">
        <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input matInput placeholder="Ex. Allianz">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Policy</mat-label>
            <input matInput placeholder="Ex. 0000000000">
        </mat-form-field>
    </form>

    <mat-card-actions align="end">
        <button
            mat-raised-button
            color="primary"
            (click)="switchSearch()"
        > Search
        </button>
    </mat-card-actions>
</mat-card>
</div>

<!-- SECONDA CARD -->

<mat-card *ngIf="isSearching === true" style="margin: auto; width: 60%; margin-top: 6em;" class="mat-elevation-z8 width second">

  <mat-card-title>
    <div style="color: #004a93; margin-bottom: 1em;">
        Insert your policy informations
    </div>
  </mat-card-title>
  <form class="rowForm">
      <mat-form-field appearance="fill">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Ex. Allianz">
      </mat-form-field>

      <mat-form-field style="left: 3em;" appearance="fill">
          <mat-label>Policy</mat-label>
          <input matInput placeholder="Ex. 0000000000">
      </mat-form-field>

      <button
        class="searchTable"
        mat-raised-button
        color="primary"
        (click)="switchSearch()"
        > Search
      </button>

      <!-- <button mat-raised-button color="primary">Search</button> -->
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="CompanyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear sortActionDescription="Sort by name">
          Company Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FileType">
        <th mat-header-cell *matHeaderCellDef> File Type </th>
        <td mat-cell *matCellDef="let element"> {{element.FileType}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Download">
        <th mat-header-cell *matHeaderCellDef> Download </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button><mat-icon>download</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator style="padding-top: 10em" [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->

</mat-card>
