<div class="container" fxLayout="column" fxLayoutAlign="start center">
<mat-card *ngIf="isSearching === false" class="mat-elevation-z8 first">
    <mat-card-title>
        <div>
            Insert your policy informations
        </div>
    </mat-card-title>

      <form class="firstForm" #firstForm>
          <mat-form-field appearance="fill">
              <mat-label>Company</mat-label>
              <input matInput placeholder="Ex. Allianz" [formControl]="companyFormControl">
              <mat-error *ngIf="companyFormControl.hasError('required')">Insert your company name</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Policy</mat-label>
              <input matInput placeholder="Ex. 0000000000" [formControl]="policyFormControl">
              <mat-error *ngIf="policyFormControl.hasError('required')">Insert your policy</mat-error>
          </mat-form-field>

          <mat-card-actions align="end">
            <button
                mat-raised-button
                color="primary"
                (click)="switchSearch()"
                (click)="logger()"
                [disabled]="companyFormControl.invalid || policyFormControl.invalid"
            > Search
            </button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>

<!-- SECONDA CARD -->

<mat-card *ngIf="isSearching === true" class="mat-elevation-z8 second">

  <mat-card-title>
    <div>
        Insert your policy informations
    </div>
  </mat-card-title>
  <form class="rowForm">
      <mat-form-field appearance="fill">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Ex. Allianz">
      </mat-form-field>

      <mat-form-field class="form-right" appearance="fill">
          <mat-label>Policy</mat-label>
          <input matInput placeholder="Ex. 0000000000">
      </mat-form-field>

      <button
        class="searchTable"
        mat-raised-button
        color="primary"
        > Search
      </button>

      <!-- <button mat-raised-button color="primary">Search</button> -->
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="CompanyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear sortActionDescription="Sort by name">
          Company Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FileType">
        <th mat-header-cell *matHeaderCellDef> File Type </th>
        <td mat-cell *matCellDef="let element"> {{element.FileType}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Download">
        <th mat-header-cell *matHeaderCellDef> Download </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button><mat-icon>download</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator style="padding-top: 10em" [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->

</mat-card>
