div.container{
  width: 100%;
  min-height: 100vh;
  background-color: #004a93;
}

@media screen and (max-width: 600px) {
  mat-card.first{
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .rowForm mat-form-field {
      width: 98% !important;
      padding-left: 0.8em;
  }
  .rowForm button {
    margin-left: auto;
  }
}

.div-title {
  margin-bottom: 25px;
  color: #004a93;
}

mat-card.first{
  margin-top: 30vh;
}

::ng-deep .firstForm {
  mat-form-field{
    min-width: 150px;
    max-width: 500px;
    width: 100% !important;
  }
}

.firstForm button {
  margin-right: 0.6em;
}


::ng-deep .rowForm {
  mat-form-field {
    width: 40% !important;
    padding-left: 0.8em;
  }
}

::ng-deep .rowForm {
  button {
    margin-left: 0.8em;
  }
}

mat-card.second{
  width: 90%!important;
  margin-top: 6em;
  margin-bottom: 1em;
}

mat-card.second div{
  color: #004a93;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

table {
  width: 100%;
}

.width{
  width: 90% !important;
}

/* sticky table header */
.example-container {
  height: 65vh;
  overflow: auto;
}

.mat-icon-input {
  margin-right: 5px;
}
// scrollBar removed
.example-container::-webkit-scrollbar{
  display: none;
}

.displayNone{
  display: none;
}

.displayBlock{
  display: block;
}

