<div class="container" fxLayout="column" fxLayoutAlign="start center">

  <mat-card *ngIf="isSearching === false" class="mat-elevation-z8 first">
    <mat-card-title>
        <div class="div-title">
            Insert your policy informations
        </div>
    </mat-card-title>

      <form class="firstForm" #firstForm>
          <mat-form-field appearance="fill">
              <mat-label>	<mat-icon class="mat-icon-input">work</mat-icon>Company</mat-label>
              <input matInput placeholder="Ex. Allianz" [formControl]="companyFormControl">
              <mat-error *ngIf="companyFormControl.hasError('required')">Insert your company name</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><mat-icon class="mat-icon-input">assignment</mat-icon>Policy</mat-label>
              <input matInput placeholder="Ex. 0000000000" [formControl]="policyFormControl">
              <mat-error *ngIf="policyFormControl.invalid">Insert your policy</mat-error>
          </mat-form-field>

          <mat-card-actions align="end">
            <button
                mat-raised-button
                color="primary"
                (click)="switchSearch()"
                (click)="logger()"
                [disabled]="companyFormControl.invalid || policyFormControl.invalid"
            > 	<mat-icon>search</mat-icon> Search
            </button>
        </mat-card-actions>
      </form>
  </mat-card>

  <!-- SECONDA CARD -->
  <mat-card [ngClass]="isSearching == true ? 'displayBlock' : 'displayNone'" class="mat-elevation-z8 second">

    <mat-card-title>
      <div>
          Insert your policy informations
      </div>
    </mat-card-title>

    <form class="rowForm" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"  #secondForm>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon class="mat-icon-input">work</mat-icon>Company</mat-label>
            <input matInput placeholder="Ex. Allianz" [formControl]="tableCompanyFormControl" [(ngModel)]="tableCompany">
            <mat-error *ngIf="tableCompanyFormControl.hasError('required')">Insert your company name</mat-error>

        </mat-form-field>

        <mat-form-field class="form-right" appearance="fill">
            <mat-label><mat-icon class="mat-icon-input">assignment</mat-icon>Policy</mat-label>
            <input matInput placeholder="Ex. 0000000000" [formControl]="tablePolicyFormControl" [(ngModel)]="tablePolicy">
            <mat-error *ngIf="tablePolicyFormControl.invalid">Insert your policy</mat-error>
        </mat-form-field>

        <button
          class="form-right"
          mat-raised-button
          color="primary"
          [disabled]="tablePolicyFormControl.invalid || tablePolicyFormControl.invalid"
          aria-label="Clear"
          (click)="refreshTableInputValue()"
          > 	<mat-icon>search</mat-icon>Search
        </button>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Company Name" #input>
    </mat-form-field>
  </form>


    <div class="example-container">
      <table mat-table [dataSource]="dataSource" matSort >
<!-- (matSortChange)="announceSortChange($event)" -->
          <!-- Name Column -->
          <ng-container matColumnDef="CompanyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by CompanyName">
              Company Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Description"> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="FileType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by FileType"> File Type </th>
            <td mat-cell *matCellDef="let element"> {{element.FileType}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="Download">
            <th mat-header-cell *matHeaderCellDef> Download </th>
            <td mat-cell *matCellDef="let element"> <button mat-icon-button><mat-icon>download</mat-icon></button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Company matching the name "{{input.value}}"</td>
          </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10,5, 25, 100]" aria-label="Select page of users"></mat-paginator>

  </mat-card>

</div>
